<link rel="stylesheet" type="text/css" href="../css/portal.css" />

<!--Google jQuery CDN-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{{!-- Google jQuery UI CDN deleiver --}}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

{{!-- Vue js CDN --}}
<script src="https://unpkg.com/vue@3"></script>

<!-- font stylesheet  -->
<link href="https://fonts.googleapis.com/css?family=Voces" rel='stylesheet' />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel='stylesheet' />

<div id="header">
    <div id="logo">
        <img alt="image_logo" src="../img/cp_logo.png" />
    </div>

    <div id="menubar">
        <span>Loign As : {{username}}</span>
        <br />
        <a href="/admin_logout">Logout</a>
        <br />
        <a href="/admin/portal?resetPassword={{username}}">Reset Password</a>
    </div>
</div>

<div id="content">
    <div align="center">
        <button type="button" class="cat_button" onclick="window.location.href='/admin/portal?cat=plastic'">
            Flower Pots
        </button>

        <button type="button" class="cat_button" onclick="window.location.href='/admin/portal?cat=iron'">
            Flower Pot Iron Stands
        </button>
    </div>

    <h1>Product List - Flower Pot Iron Stand</h1>
    <div id="operation_buttons" class="operation_btn_frame">
        <button class="operation_btn" v-on:click="addProduct()" v-bind:disabled="editOperation || deleteOperation">Add</button>
        <button class="operation_btn" v-on:click="editProduct()" v-bind:disabled="addOperation || deleteOperation">Edit</button>
        <button class="operation_btn" v-on:click="deleteProduct()" v-bind:disabled="addOperation || editOperation">Delete</button>
    </div>

    <div id="filter_sort" class="filter_sort_frame">
        <span>
            Filter <input v-model="filterKeyword" type="text" placeholder="Enter Code or Name .. " />
        </span>
        <span>
            Sort
            <select v-on:change="sortProducts($event)">
                <option disabled selected>-- Select One --</option>
                <option value="1n">Name : A-Z</option>
                <option value="-1n">Name : Z-A</option>
                <option value="1c">Code : A-Z</option>
                <option value="-1c">Code : Z-A</option>
            </select>
        </span>
    </div>

    <div>
        <h3 v-show="addOperation">You are in adding mode .. </h3>
        <h3 v-show="editOperation">You are in editing mode .. </h3>
        <h3 v-show="deleteOperation">You are in deleting mode .. </h3>
    </div>

    <table id="product_listing">
        <thead>
            <tr>
                <td>No </td>
                <td>Product Code</td>
                <td>Product Details</td>
                <td>Operations</td>
            </tr>
        </thead>

        <tbody>
            <!-- add operation  -->
            <tr v-show="addOperation">
                <td>0</td>
                <td></td>
                <td>
                    <form id="add_form" v-bind:action="'/iron_file_upload/' + newProduct.code.toUpperCase()" method="POST" enctype="multipart/form-data">
                        <p class="data_row">
                            Product Code <input type="text" class="el_indent" v-model="newProduct.code" />
                        </p>

                        <p class="data_row" v-show="codeExist(newProduct.code)">
                            <span class="el_indent">Existing Code</span>
                        </p>

                        <p class="data_row">
                            Product Name <input type="text" class="el_indent" v-model="newProduct.name" />
                        </p>

                        <p class="data_row">
                            Dimensions (in cm)
                            <span class="el_indent">
                                Length <input type="number" min="0" v-model="newProduct.dimensions.length" />
                                Width <input type="number" min="0" v-model="newProduct.dimensions.width"/>
                                Heigth <input type="number" min="0" v-model="newProduct.dimensions.height"/>
                            </span>
                        </p>

                        {{!-- debug here  --}}
                        <span v-for="(color, index) in newProduct.colors">
                            <p v-bind:id="'add_color_frame_' + index" class="data_row colors_frame">
                                <span class="text">Color Variations</span>
                                <span v-for="(color_code, index_2) in avia_colors"  class="color_circle" v-bind:id="'add_color_' + color_code + index" v-on:click="color.name = index_2; changeColor('add_color_' + color_code + index, 'add_color_frame_' + index, 'add_color_display' + index, index_2, 'add_img_input' + index);" v-bind:style="'background-color :' + color_code + ';'">c</span>
                                
                                {{!-- <input type="color" class="color_circle" value="#FFFFFF" /> --}}
                                <span class="color_circle" id="color_#">+</span>
                            </p>

                            <p class="data_row">
                                <span class="el_indent" v-bind:id="'add_color_display' + index">  </span>
                            </p>

                            <p class="data_row">
                                Pictures <input v-bind:id="'add_img_input' + index"
                                    v-on:change="image_preview('add_img_input' + index, 'add_img_prev' + index, 'clear_img_input' + index, 'add', color.name)"
                                    title="Please Upload Pictures ... "
                                    type="file" class="el_indent" v-bind:name="newProduct.code.toUpperCase()" multiple />
                            </p>

                            <p class="data_row image_frame" v-bind:id="'add_img_prev' + index"> </p>

                            <p class="data_row">
                                <span class="el_indent"><button class="btn_a" v-bind:id="'clear_img_input' + index"
                                    v-on:click="clear_input_img('add_img_input' + index, 'add_img_prev' + index, 'clear_img_input' + index, 'add', color.name)"
                                    disabled >Clear Uploads</button></span>
                            </p>

                            <p class="data_row">
                                Stock Status
                                <span class="el_indent">
                                    <input type="radio" v-bind:id="'avai_add_' + index" v-bind:name="'stock_status_add_' + index" v-model="newProduct.colors[index].stock" value="Available"  />
                                    <label v-bind:for="'avai_add_' + index">Available</label>
                                    <input type="radio" v-bind:id="'oos_add_' + index" v-bind:name="'stock_status_add_' + index" v-model="newProduct.colors[index].stock" value="Out Of Stock" />
                                    <label v-bind:for="'oos_add_' + index">Out Of Stock </label>
                                </span>
                            </p>
                        </span>

                        <p class="data_row">
                            <span class="el_indent"><button class="btn_b" type="button" v-on:click="addInput('add', 'color')">Add New Color Product</button></span>
                        </p>

                        <p class="data_row">
                            What's More
                            <input type="text" class="el_indent" v-model="newProduct.whatsmore[0]" />
                        </p>

                        <p class="data_row" v-for="(bundle, index) in newProduct.whatsmore.slice(1)">
                            <input type="text" class="el_indent" v-model="newProduct.whatsmore[index+1]" /> 
                            <button class="btn_c" type="button" v-show="deleteContentDisplay('add', 'more')" v-on:click="removeInput('add', index + 1, 'more')">Delete</button>
                        </p>
                        <p class="data_row">
                            <span class="el_indent">
                                <button class="btn_a" type="button" v-on:click="addInput('add', 'more')">Add More</button>
                            </span>
                        </p>
                    </form>
                </td>
                <td>
                    <!-- add button  -->
                    <button class="btn_a" type="button" id="add_btn" v-on:click="addNewProduct()" v-bind:disabled="isEmptyCode(newProduct.code) || codeExist(newProduct.code) " disabled>Add</button> 
                    
                </td>
            </tr>

            <tr v-if="noListing">
                <td colspan="4" align="center">
                    <h1>Sorry, Currentlt No Listing ... </h1>
                </td>
            </tr>

            <tr v-for="(product, index) in products_arr" v-bind:id="'entry_' + index">
                <td align="center">\{{index + 1}}</td>
                <td align="center">\{{product.code}}</td>

                <td>
                    <span v-if="productEditStatus[product.code]">
                        <form v-bind:id="'edit_form_' + index" v-bind:action="'/iron_file_upload/' + current_edit_obj.code.toUpperCase()" method="POST" enctype="multipart/form-data">
                            <p class="data_row">
                                Product Code <input type="text" class="el_indent" v-model="current_edit_obj.code" />
                            </p>

                            <p class="data_row" v-show="current_edit_obj.code && current_edit_obj.code.toUpperCase() != product.code.toUpperCase() && codeExist(current_edit_obj.code)">
                                <span class="el_indent">Existing Code</span>
                            </p>

                            <p class="data_row">
                                Product Name <input type="text" class="el_indent" v-model="current_edit_obj.name" />
                            </p>

                            <p class="data_row">
                                Dimensions (in cm)
                                <span class="el_indent">
                                    Length <input type="number" min="0" v-model="current_edit_obj.dimensions.length" />
                                    Width <input type="number" min="0" v-model="current_edit_obj.dimensions.width"/>
                                    Heigth <input type="number" min="0" v-model="current_edit_obj.dimensions.height"/>
                                </span>
                            </p>

                            {{!-- debug here  --}}
                            <span v-for="(color, index) in current_edit_obj.colors">
                                <p v-bind:id="'edit_color_frame_' + current_edit_obj.code + index" class="data_row colors_frame">
                                    <span class="text">Color Variations</span>
                                    <span v-for="(color_code, index_2) in avia_colors"  class="color_circle"  v-bind:id="'edit_color_' + index + '_' + color_code" v-on:click="color.name = index_2; changeColor('edit_color_' + index + '_' + color_code, 'edit_color_frame_' + current_edit_obj.code + index, 'edit_color_display_#' + product.code + index, index_2, 'edit_img_input' + index);" v-bind:style="'background-color :' + color_code + ';'">c</span>
                                    <span class="color_circle" id="color_#">+</span>
                                </p>

                                <p class="data_row">
                                    <span class="el_indent" v-bind:id="'edit_color_display_#' + product.code + index"> \{{color.name}} </span>
                                </p>

                                <p class="data_row">
                                    Pictures <input v-bind:id="'edit_img_input' + index"
                                        v-on:change="image_preview('edit_img_input' + index, 'edit_img_prev' + index, 'clear_img_input' + index, 'edit', color.name)"
                                        title="Please Upload Pictures ... "
                                        type="file" class="el_indent" v-bind:name="current_edit_obj.code.toUpperCase()" multiple />
                                </p>

                                {{!-- the id here will render when v-if is true, so may not repetitive in other product rows (since only one edit operation on per product at one time) --}}
                                <p class="data_row image_frame" v-bind:id="'edit_img_prev' + index">
                                    <img v-show="!edit_img_updated['edit_img_prev' + index]" v-for="item in getImgFiles(product.code, color.name)" v-bind:src="item.url" alt="image_prev" />
                                </p>

                                <p class="data_row">
                                    <span class="el_indent"><button class="btn_a" v-bind:id="'clear_img_input' + index"
                                        v-on:click="clear_input_img('edit_img_input' + index, 'edit_img_prev' + index, 'clear_img_input' + index, 'edit', color.name)"
                                        disabled >Clear Uploads</button></span>
                                </p>

                                <p class="data_row">
                                    Stock Status
                                    <span class="el_indent">
                                        <input type="radio" v-bind:id="'avai_edit_' + index" v-bind:name="'stock_status_edit_' + index" v-model="current_edit_obj.colors[index].stock" value="Available" />
                                        <label v-bind:for="'avai_edit_' + index">Available</label>
                                        <input type="radio" v-bind:id="'oos_edit_' + index" v-bind:name="'stock_status_edit_' + index" v-model="current_edit_obj.colors[index].stock" value="Out Of Stock" />
                                        <label v-bind:for="'oos_edit_' + index">Out Of Stock </label>
                                    </span>
                                </p>
                            </span>

                            <p class="data_row">
                                <span class="el_indent"><button class="btn_b" type="button" v-on:click="addInput('edit', 'color')">Add New Color Product</button></span>
                            </p>

                            <p class="data_row">
                                What's More
                                <input type="text" class="el_indent" v-model="current_edit_obj.whatsmore[0]" />
                            </p>

                            <p class="data_row" v-for="(bundle, index) in current_edit_obj.whatsmore.slice(1)">
                                <input type="text" class="el_indent" v-model="current_edit_obj.whatsmore[index+1]" />
                                <button class="btn_c" v-show="deleteContentDisplay('edit', 'more')" v-on:click="removeInput('edit', index + 1, 'more')">Delete</button>
                            </p>
                            <p class="data_row">
                                <span class="el_indent">
                                    <button class="btn_a" type="button" v-on:click="addInput('edit', 'more')">Add More</button>
                                </span>
                            </p>
                        </form>
                    </span>

                    <span v-else id="productContent">
                        <p class="data_row">
                            Product Name <span class="el_indent">\{{product.name}}</span>
                        </p>

                        <p class="data_row">
                            Dimensions (in cm)
                            <span class="el_indent">
                                Length <span class="inner_text">\{{product.dimensions.length}}</span>
                                Width <span class="inner_text">\{{product.dimensions.width}}</span>
                                Heigth <span class="inner_text">\{{product.dimensions.height}}</span>
                            </span>
                        </p>

                        <span v-for="(color, index) in product.colors">
                            <p class="data_row">
                                Product Color <span class="el_indent">\{{color.name}}</span>
                            </p>

                            <p class="data_row image_frame">
                                <span class="text">Pictures</span>
                                <img v-for="item in getImgFiles(product.code, color.name)" v-bind:src="item.url" alt="image_prev" />
                            </p>

                            <p class="data_row">
                                Stock Status <span class="el_indent">\{{color.stock}}</span>
                            </p>
                        </span>

                        <p class="data_row">
                            What's More <span class="el_indent">\{{product.whatsmore[0]}}</span>
                        </p>
                        <p v-for="(item, index) in product.whatsmore.slice(1)" class="data_row">
                            <span class="el_indent">\{{product.whatsmore[index+1]}}</span>
                        </p>
                    </span>

                </td>
                <td>
                    <button class="btn_a" v-show="editOperation" id="edit_btn" v-on:click="productEditFired(product.code, 'entry_' + index)">Edit</button>
                    <br />
                    <!-- edit buttons  -->
                    <button class="btn_a" v-show="productEditStatus[product.code]" v-on:click="confirmEdit(product.code, 'entry_' + index, 'post_edit_form' + index, 'edit_form_' + index)" id="yes_btn" v-bind:disabled="(current_edit_obj.code && current_edit_obj.code.toUpperCase() != product.code.toUpperCase() && codeExist(current_edit_obj.code)) || isEmptyCode(current_edit_obj.code)">Yes</button> 
                    {{!-- check the current_edit_obj.code is exist, if user click 'no' button may make the toUpperCase() in the v-show error --}}
                    <button class="btn_a" v-show="productEditStatus[product.code]" v-on:click="cancelEdit(product.code, 'entry_' + index)" id="no_btn">No</button>
                    <br />
                    <!-- delete check box -->
                    <input type="checkbox" v-bind:id="'delete_check_' + index" class="checkboxes" v-show="deleteOperation" name="delete" v-bind:value="product.code" />
                </td>
            </tr>

            <tr v-show="deleteOperation">
                <td colspan="4" align="right">
                    <button class="btn_a" v-on:click="deleteExistingProduct()">Delete</button>
                </td>

                <div id="delete_dialog" title="Confirm Delete ?">
                    <p id="delete_dialog_content">

                    </p>
                </div>
            </tr>

        </tbody>
    </table>
</div>

<footer id="footer">

</footer>

<script src="../js/iron-portal_v1.0.js"></script>