	/*content part*/
	.title{
	  margin-left:2.5% ;
	  margin-right:2.5% ;
	  padding-top:1%;
	  padding-bottom:1%;
	  background-color: #90C473;
	  border-radius:15px;
	  color: #0F370F;
	  
	  font-family: 'Roboto'	, sans-serif;
	  font-weight: bold;
	}
	
	.items {
		height: fit-content;
	}
	
	.items > span {
	  width: 22%;
	  height: fit-content;
	  margin: 5%;
	  display: inline-grid;
	  transition: all 1s;
	  
	  font-family: 'Shanti', sen-serif;
	}
	
	.items > span button, a.back-to-top  {
	  font-family: 'Roboto', sans-serif;
	  font-size: 16px;
	  border-radius: 10px;
	  padding: 12px;
	  cursor: pointer;
	  color: white;
      background-color: #90C473;
      border-color: #0F370F;
	  transition: all 1s;
	}
	
	.items > span button:hover, a.back-to-top:hover {
		color: #0F370F;
		background-color: #E9F5DB;
	}
	
	.items > span div {
	  margin-top:10%;
	  
	}
		
	.productDetails {
	  border: dashed 3px #226D46;
	  margin-left:0;
	  margin-right:0;
	  padding:5%;
	  font-size: 13px;
	  text-align: left;
	}

	.productDetails span:nth-child(1)
	{
		font-size: 1.5em;
	}

	.pagination table {
	  /* width: 100%; */
	  margin: 1em;
	}	

	.pagination table td {
	  border-radius: 5px;
	  cursor: pointer;
	  transition: all 1s;
	  font-size: 2.5em;
	  width : 1.5em;
	}
	
	.pagination {
	  display: block;
	  margin: 1em;
	}
		
	.page_tr td:first-child	{
	  /*pagination number selected background color*/
	  background-color: #D43406;
	  color: #E9F5DB;
	}

	a.back-to-top {
		position: sticky;
		bottom: 2em;
		left: 85%;
		font-size: 1em;
		border: 2px solid #0F370F;
		text-decoration: none;
	}