	/*content part*/
	.title {
		margin-left: 2.5%;
		margin-right: 2.5%;
		padding-top: 1%;
		padding-bottom: 1%;
		background-color: #AECBEB;
		border-radius: 15px;
		color: #000000;

		font-family: 'Roboto', sans-serif;
		font-weight: bold;
	}

	.items {
		height: fit-content;
	}

	.items>span {
		width: 22%;
		height: fit-content;
		margin: 5%;
		display: inline-grid;
		transition: all 1s;

		font-family: 'Shanti', sen-serif;
	}

	.items>span button, a.back-to-top {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		border-radius: 10px;
		padding: 12px;
		cursor: pointer;
		color: #000000;
		background-color: #AECBEB;
		border-color: #0F370F;
		transition: all 1s;
	}

	.items>span button:hover, a.back-to-top:hover {
		color: #000000;
		background-color: #F8F9FB;
	}

	.items>span div {
		margin-top: 10%;

	}

	.productDetails {
		border-radius: 20px;
		background-color: #E1ECF7;
		margin-left: 0;
		margin-right: 0;
		padding: 5%;
		font-size: 14px;
		text-align: left;
	}

	.productDetails span:nth-child(1) {
		font-size: 2.2em;
	}

	.pagination table {
		/* width: 100%; */
		margin: 1em;
	}

	.pagination table td {
		border-radius: 5px;
		cursor: pointer;
		transition: all 1s;
		font-size: 2.5em;
		width: 1.5em;
	}

	.pagination {
		display: block;
		margin: 1em;
	}

	.page_tr td:first-child {
		/*pagination number selected background color*/
		background-color: #D43406;
		color: #E9F5DB;
	}

	a.back-to-top {
		position: sticky;
		bottom: 2em;
		left: 85%;
		font-size: 1em;
		border: 2px solid #0F370F;
		text-decoration: none;
	}

	@media screen and (max-width: 600px) {
		a.back-to-top {
			font-size: 3em;
		}
	}