html {
  scroll-behavior: smooth;
}

/*scroll bar design*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #226D46;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #226D46;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4340C;
}

/*header - body - footer (may consistency in any pages)*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #E9F5DB;
  font-family: 'Roboto', sans-serif;
}

#header {
  /*header background color here*/
  background-color: #226D46;
  padding: 20px;
}

#header div {
  display: inline-block;
}

#logo {
  width: 40%;
}

#logo img {
  width: 100%;
}


footer {
  margin-top: auto;
  /*footer background color*/
  background-color: #226D46;
  padding: 1.5%;
}

#content {
  text-align: center;
  height: 30em;
  margin: 3em 0 0 0;
}

#content div {
  display: inline-block;
  width: 45%;
  text-align: center;
}

#img_div img {
  width: 70%;
}


#login_input {
  margin: 5em 0 0 0;
  line-height: 2em;
  vertical-align: top;
  background-color: #226D46;
  border-radius: 15px;
  padding: 0 0 1em 0;
  height: fit-content;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  color: white;
  background-color: #90C473;
  border-color: #0F370F;
  transition: all 1s;
  margin: 1em 0 0 0;
  width: 20%;
}

form input:not([type=checkbox]) {
  width: 30%;
  font-size: 115%;
  font-family: 'Roboto', sans-serif;
  margin: .5em 0 .5em 0;
}

button:hover {
  color: #0F370F;
  background-color: #E9F5DB;
}