html {
	  scroll-behavior: smooth;
	}
	
	/*scroll bar design*/
	::-webkit-scrollbar {
	  width: 15px;
	}
	
	::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 5px #226D46;
	  border-radius: 10px;
	}
	
	::-webkit-scrollbar-thumb {
	  background: #226D46;
	  border-radius: 10px;
	}
	
	::-webkit-scrollbar-thumb:hover {
	  background: #D4340C;
	}
	
	/*header - body - footer (may consistency in any pages)*/
	body {
	  min-height: 100vh;
	  display: flex;
	  flex-direction: column;
	  background-color: #E9F5DB;
	}
	
	#header{
	  /*header background color here*/
	  background-color:#226D46;
	  padding: 20px;
	}
	
	#header div{
	  display: block;
	}

	#logo img {
	  cursor: pointer;
	  height:auto;
	  width: 50%;
	}
	
	#logo {
	 height: 50%;
	}
	
	#menubar{
	  margin-left:5%;
	}
	
	#list a{
	  display: inline-block;
	  text-align: center;
	  padding: 20px;
	  margin: 10px;
	  text-decoration: none;
	  transition: all 2s;
	  border-radius: 15px;
	  /*font color of the header menu bar*/
	  color: #E9F5DB;
	  
	  font-family: 'Voces', cursive;
	  font-size: 80%;
	}
	
	#list a:hover{
	  /*hover effect background color*/
	  background-color: #D4340C;
	}
	
	#intro img {
	  width: 100%;
	}
	
	#portfolio {
	  font-family: 'Shanti' , sans-serif;
	}

	#portfolio h1 span {
		letter-spacing: 1em;
	}

	#portfolio p {
		font-size: 1.2em;
		line-height: 1.8em;
	}

	#portfolio img {
		width: 100%;
		margin: 0 0 1em 0 ;
	}
	
	footer {
	  margin-top: auto;
	  /*footer background color*/
	  background-color:#226D46;
	  padding: 1.5%;
	}
	
	#company_info{
	  display: inline-block;
	  width:65%;
	  font-family: 'Voces', cursive;
	}
	
	#media_connections{
	  display: inline-block;
	  width: 30%;
	  /*subscribe newsletter font color*/
	  color: #E9F5DB;
	  font-family: 'Voces', cursive;
	  /*font-size: 25px;*/
	  vertical-align: top;
	  margin-top: 5em;
	}
	
	#userNotify {
	  font-size: 15px;
	  border: solid 1px #D43406;
	  display: none;
	}
	
	#whatapps_icon {
		width: 50px;
		margin-top: 10px;
		cursor: pointer;
	}
	
	#footer_logo{
	  display: inline-block;
	  width:20%;
	  vertical-align: top;
	  margin-top: 6em;
	}
	
	#footer_logo img {
		cursor: pointer;
		height:auto;
		width: 80%;
	}
	
	#about_us {
	  display: inline-block;
	  padding-right: 5%;
	  width:40%;
	  /*contact detail font color */
	  color: #E9F5DB;
	}