body {
    background-color: #E9F5DB;
    font-family: 'Voces', cursive;
}

input {
    font-family: 'Voces', cursive;
}

#header {
    /*header background color here*/
    background-color: #226D46;
    padding: 20px;
    position: static;
    height: 11em;
}

#header div {
    display: inline-block;
}

#logo {
    margin: 3% 0 0 0;
    width: 40%;
}

#logo img {
    width: 100%;
}

#menubar a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    transition: all 2s;
    border-radius: 15px;
    /*font color of the header menu bar*/
    color: #E9F5DB;

    font-family: 'Voces', cursive;
    font-size: 80%;
}

#menubar a:hover {
    /*hover effect background color*/
    background-color: #D4340C;
}

#menubar {
    position: absolute;
    width: 50%;
    top: 4%;
    right: 5%;
    text-align: right;
    color: #FFFFFF;
    padding: 10px;
}

#menubar span {
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

button.cat_button {

}

button.operation_btn, button.cat_button{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    background-color: #90C473;
    border-color: #0F370F;
    transition: all 1s;

    width: 20%;
    margin: 0 5% 0 0;
}

button.operation_btn:hover {
    color: #0F370F;
    background-color: #E9F5DB;
}

button.cat_button {
    margin: 2% 0 0 0;
    width: 48%;
}

button.cat_button:nth-child(1) {
    margin: 0 2% 0 0;
}

div.operation_btn_frame {
    display: inline-block;
    width: 50%;
}

div.filter_sort_frame {
    display: inline-block;
    width: 49%;
    text-align: right;
}

div.filter_sort_frame span {
    margin: 0 0 0 5%;
}

div.filter_sort_frame span * {
    width: 25%;
    margin: 0 0 0 5%;
}

table {
    width: 100%;
    border: 1.5px solid black;
    border-collapse: collapse;
    margin: 2em 0 0 0;
}

table thead td {
    text-align: center;
    font-weight: 1000;
    font-size: 20px;
    background-color: #E9F5DB;
    padding: 0.5em 0 0.5em 0;
    border: #90C473 solid 0.25em;
}

table thead td:nth-child(1) {
    width: 8%;
}

table thead td:nth-child(2) {
    width: 20%;
}

table thead td:nth-child(3) {
    width: 57%;
}

table thead td:nth-child(4) {
    width: 15%;
}

table tbody tr {
    background-color: #E9F5DB;
    border: #90C473 solid 0.25em;
}

table tbody td {
    font-size: 15px;
    padding: 0.5em 0 0.5em 1em;
}

table tbody td:nth-child(3) {
    line-height: 200%;
}

table tbody td:nth-child(4) {
    text-align: center;
}

/* identation */


table tbody td .data_row {
    position: relative;
    height: 2.5em;
    /* height: fit-content; */
}

table tbody td .el_indent {
    position: absolute;
    width: 75%;
    height: fit-content;
    top: 0;
    right: 0;

}

table tbody td .el_indent input[type=number] {
    width: 20%;
    margin: 0 1% 0 1%;
}

table tbody td .el_indent .inner_text {
    display: inline-block;
    width: 20%;
    text-align: center;
}

/* refactor here of redundant declarations  */

table tbody td button.btn_a, table tbody input[type=file]::file-selector-button {
    /* width: 20%;
    text-align: center; */

    font-family: Roboto, sans-serif;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    color: #000000;
    background-color: rgb(144, 196, 115);
    border-color: rgb(15, 55, 15);
    transition: all 1s ease 0s;
    width: 30%;
    margin: 0px 5% 0px 0px;
}

table tbody td button.btn_b {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    color: #000000;
    background-color: rgb(144, 196, 115);
    border-color: rgb(15, 55, 15);
    transition: all 1s ease 0s;
    width: 70%;
    margin: 0px 5% 0px 0px;
}

table tbody td button.btn_c {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    color: #000000;
    background-color: rgb(144, 196, 115);
    border-color: rgb(15, 55, 15);
    transition: all 1s ease 0s;
    width: 15%;
    /* margin: 0px 5% 0px 0px; */
}

table tbody td button.btn_a:hover, table tbody td button.btn_b:hover, table tbody td button.btn_c:hover, table tbody input[type=file]::file-selector-button:hover {
    color: #0F370F;
    background-color: #E9F5DB;
}

table tbody td .checkboxes {
    width: 100%;
    height: 1.5em;
}

table tbody td span label {
    margin: 0 3em 0 0.5em;
}

table tbody td .colors_frame {
    height: fit-content;
    text-align: right;
}

table tbody td .colors_frame span.text {
    position: absolute;
    left: 0;
}

table tbody td span.color_circle {
    color : transparent;
    text-align: center;
    background-color: #000000;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 1% 0 2% 10%;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 1s;
}

table tbody td span.color_circle:last-child {
    color: #000000;
    background-color: #FFFFFF;
    border: 3px solid black;
}

table tbody td .image_frame {
    min-height: 2.5em;
    height: fit-content;
    text-align: right;
}

table tbody td .image_frame img {
    display: inline-block;
    width: 24%;
    margin: 0 1% 0 0;
}

table tbody td .image_frame span.text {
    position: absolute;
    left: 0;
    /* margin-right: 15%; */
}

form {
    width: 100%;
}