<!DOCTYPE html>

<html lang="en">

<head>
	<!--Google jQuery CDN-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<!--Google jQuery CDN (JS + stylesheet)-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<!-- font style import links -->
	<link href="https://fonts.googleapis.com/css?family=Voces" rel='stylesheet' />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel='stylesheet' />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shanti&display=swap"
		rel="stylesheet" />

	<!-- Vuejs CDN  -->
	<script src="https://unpkg.com/vue@3"></script>

	<!-- page icon -->
	<link type="image/icon type" rel="icon" href="../img/cp_icon.png" />

	<title>Iron Stands</title>

	<link rel="stylesheet" type="text/css" href="../css/iron-header_footer.css" />
	<link rel="stylesheet" type="text/css" href="../css/iron-page.css" />

</head>

<body id="content">
	<div id="header">
		<div id="logo">
			<img alt="image_logo" src="../img/iron-cp_logo.png" onclick="window.location.href='/';" />
		</div>

		<div id="menubar" align="right">
			<span id="list">
				<a href="#footer">Contact Us</a>
			</span>
		</div>
	</div>

	<div id="intro" align="center">
		<img alt="company_intro_image" src="../img/iron-main-image.png" />
	</div>

	<div>
		<h2 class="title" align="center">Flower Pot Iron Stand</h2>

		<div class="items">
			<span v-for="(product, index) in products" style="text-align: center;">

				<img alt="product_item_image" v-bind:src="getMainImgFile(product.code)" class="productImage"
					style="width: 100%; border-radius: 20px; cursor: pointer;" v-on:click="redirect(product.code)" />
				<br />

				<button v-bind:id="product.name.replaceAll(' ','')" class="product_button"
					v-on:click="redirect(product.code)">{{product.name}}</button>

				<div class="productDetails">
					<span>{{product.code}}</span>
					<br /><br />
					SIZE DETAILS:
					<ul>
						<li v-show="product.dimensions.length != 0">Length: {{product.dimensions.length}} cm</li>
						<li v-show="product.dimensions.width != 0">Width: {{product.dimensions.width}} cm</li>
						<li v-show="product.dimensions.height != 0">Height: {{product.dimensions.height}} cm</li>
					</ul>

					WHAT'S MORE:
					<ul>
						<li v-for="(item, index) in product.whatsmore">{{item}}</li>
					</ul>
				</div>
			</span>
		</div>

		<a class="back-to-top" href="#content">Back To Top</a>

		<div id="portfolio" align="center">
			<h1><span>🍀🪴🧑‍🌾</span>About Us<span> 🧑‍🌾🪴🍀</span></h1>
			<p>
				Cherry Pot Marketing is one of the leading gardening pot seller in Ipoh, Malaysia. <br />
				We do sell wide variety of gardening planting pots or planter boxes with several attractive color
				finishes.<br />
				Feel free to keep visiting our website for latest product views. <br />
			</p>

			<img src="../img/CP_Design3.png" alt="about_us_img" />
		</div>

		<footer id="footer">
			<div id="company_info" align="left">
				<div id="footer_logo" align="left">
					<img alt="image_logo" src="../img/cp_logo_1.jpg" onclick="window.location.reload();" />
				</div>

				<div id="about_us" align="left">
					<h2>Our Address</h2>
					<p>No 17, Industri Bercham 2A, <br />Kaw Perindustrian Bercham, <br />31400 Bercham Ipoh Perak</p>

					<h2>Contact Us <img src="../img/telephone_logo.png" alt="phone_logo" width="20em" /></h2>
					<ol>
						<li>(+60) 19 - 555 5538</li>
						<li>(+60) 18 - 383 6381</li>
					</ol>
				</div>
			</div>


			<div id="media_connections" align="left">
				<h2>Media Connections: </h2>
				<span><a href="https://wa.me/60195555538" target="_blank"><img id="whatapps_icon" alt="whatapps_icon"
							src="../img/whatsapp_logo.png" /></a></span>
			</div>
		</footer>
		<!-- JavaScript for the item content -->
		<script src="../js/iron-page.js"></script>
</body>



</html>